dist: trusty
sudo: false
language: node_js
node_js:
  - 8
addons:
  chrome: stable
script:
  - npm run build
  # - npm run bundlesize
  # - npm run lint
  - npm run ghpages
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - npm run ghpages
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  github_token: $PUSH_TOKEN
  on:
    branch: master
