<div class="home">
  <div class="cover" [style.background-color]="hex"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        <div class="title">Angular Color</div>
        <div class="description">
          Port of <a href="https://github.com/casesandberg/react-color">react-color</a> by casesandberg
        </div>
        <div class="description">A Collection of Color Pickers from Sketch, Photoshop, Chrome, Github, Twitter, Material Design &amp; more</div>
        <div class="mt-4">
          <iframe src="https://ghbtns.com/github-btn.html?user=scttcper&repo=ngx-color&type=star&count=true&size=large" scrolling="0" width="160px" height="30px" frameBorder="0"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <div style="width: 170px; height: 100%; padding-top: 20px">
            <color-block
              [color]="hex"
              (onChangeComplete)="changeComplete($event)"
              (onChange)="changeComplete($event)"
            >
            </color-block>
            <div class="text-center white-label">Chrome</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 170px; height: 100%; padding-top: 20px">
  <color-block
    [color]="hex"
    (onChangeComplete)="changeComplete($event)"
    (onChange)="changeComplete($event)"
  >
  </color-block>
</div>
