<!-- <div style="height: 580px; position: relative;">
  <div style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: rgb(39, 185, 112); transition: background-color 100ms linear; opacity: 0.5;"></div>
  <div style="max-width: 780px; padding: 0px 20px; margin: 0px auto;">
    <div style="position: relative;">
      <div style="width: auto; position: relative; padding-right: 260px;">
        <div>
          <div style="padding-top: 70px; font-size: 52px; color: rgba(0, 0, 0, 0.65);">React Color</div>
          <div style="font-size: 20px; line-height: 27px; color: rgba(0, 0, 0, 0.4); padding-top: 15px; font-weight: 300; max-width: 320px;">A Collection of Color Pickers from Sketch, Photoshop, Chrome, Github, Twitter, Material Design &amp; more</div>
          <div style="padding-top: 25px; padding-bottom: 20px;"><iframe src="https://ghbtns.com/github-btn.html?user=casesandberg&amp;repo=react-color&amp;type=star&amp;count=true&amp;size=large" scrolling="0" width="160px" height="30px" frameborder="0"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="home">
  <div class="cover" [style.background-color]="hex"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        <div class="title">Angular Color</div>
        <div class="description">
          Port of <a href="https://github.com/casesandberg/react-color">react-color</a> by casesandberg
        </div>
        <div class="description">A Collection of Color Pickers from Sketch, Photoshop, Chrome, Github, Twitter, Material Design &amp; more</div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <div style="width: 170px; height: 100%; padding-top: 20px">
            <color-block
              [color]="hex"
              (onChangeComplete)="changeComplete($event)"
              (onChange)="changeComplete($event)"
            >
            </color-block>
            <div class="text-center white-label">Chrome</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 170px; height: 100%; padding-top: 20px">
  <color-block
    [color]="hex"
    (onChangeComplete)="changeComplete($event)"
    (onChange)="changeComplete($event)"
  >
  </color-block>
</div>
