.home {
  position: relative;
}

.cover {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 100ms linear;
}

.title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 52px;
  padding-top: 70px;
}

.description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  padding-top: 15px;

  a {
    color: rgba(0, 0, 0, 0.6);
    // color: #fff;
    // color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
  }
}
.label {
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-top: 5px;
}
.white-label {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}
